.contact-form {
  font-family:"Montserrat";
  padding-bottom: 20px;
  margin-top: 35px;
}

.section-title {
  border-bottom: 2px solid #3f6177;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

input, textarea {
  width:400px;
  margin-top:10px;
  margin-bottom: 10px;
  padding:20px;
  font-size:18px;
}

.contact-submit{
  color: #f4f4f5;
  background-color: #314d5f;
  display: block;
  font-family:"Montserrat"
}

.contact-submit:hover{
  background-color:rgba(44, 98, 122, 0.5)
}
.contact-submit{
  display: block;
    transition:all 0.5s
}